

.mainheading{
    padding: 25px;
    text-align: center;
    color: white;
    font-family: Courier, monospace;
    font-weight: bold;
}

.navbar{
    background:url("https://pics.livejournal.com/nightnat/pic/0005h606");
    position:static;

}

       
#heroku, #github{
    height: 100px;
    width: 100px;
    display: inline-block;
}

body{
   font-family: Courier, monospace; 
   background-color: white;
}

.btn{
    background-color: grey;
    color: white;
   display: inline-block;
   margin-bottom: 20px;
   
}

.btn:hover{
    color: #A0EEF2;
}

.btn a:visited{
    color: #C4C09A;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover 
{
    background-color: #f1f1f1
    
}


.dropdown:hover .dropdown-content {
    display: block;
}

footer{
    background-color: grey;
     position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
            
}



