#section1{
    background-color: rgb(238,0,90);
    background-image: url(https://fthmb.tqn.com/4KJa4hAnqApyzq000LbyIVpn3s8=/3865x2576/filters:fill(auto,1)/italy--venice--elevated-view-of-canal-in-city-543346423-5982583b396e5a0011c9ef3e.jpg);
    text-align: centre;
    text-shadow: 2px 2px #a3b2a2;
    color: black;
    
}

#section2{
    background-color: rgb(44,62,80);
  
}

#section3{
    background-color: rgb(51,153,204);
}

.section{
    text-align: center;
    color: white;
}

